In [1]:
f1=open("emp1.csv","r") #merging two records
f2=open("sal1.csv","r")

f3=open("emp_sal.csv","w")

content1=f1.read()
content2=f2.read()

name=[]
sal=[]

lines1=content1.split("\n")
lines2=content2.split("\n")

for l1 in lines1:
  words1=l1.split(",")

  for l2 in lines2:
    words2=l2.split(",")
  
    if(words1[0]==words2[0]):
      l1= l1 + "," + words2[1] + ","+ words2[2] + "\n"
      f3.write(l1)
      name.append(words1[1])
      sal.append(int(words2[2]))
      print(l1)

f1.close()    
f2.close()    
f3.close()   

print(name)
print(sal)

1,Sanvi,Manager,100000,Manager,100000

2,Mrunmayee,Sr. Manager,95000,Sr. Manager,150000

3,Jayesh,Manager,80000,Manager,90500

4,Gouri,Sr. Manager,95000,Sr. Manager,100500

5,Mahesh,Supervisor,500000,Supervisor,85000

['Sanvi', 'Mrunmayee', 'Jayesh', 'Gouri', 'Mahesh']
[100000, 150000, 90500, 100500, 85000]

In [ ]:
list1=[2,45,67,86,978,3,6,7]
list1.sort()
print(list1)

[2, 3, 6, 7, 45, 67, 86, 978]

In [ ]:
list1=[2,45,67,86,978,3,6,7]
list1.sort(reverse=True)
print(list1)

[978, 86, 67, 45, 7, 6, 3, 2]

In [ ]:
list1=[2,45,67,86,978,3,6,7]
list1.reverse()
print(list1)

[7, 6, 3, 978, 86, 67, 45, 2]

In [ ]:
import csv
def top_5_emp(d3):
  d3.sort(key = lambda x: int(x[4]),reverse=True)
  print("Sorted Data:" ,d3)

  print("\n\nTop1 Employee",d3[0][1])
  print("Top2 Employee",d3[1][1])
  print("Top3 Employee",d3[2][1])
  print("Top4 Employee",d3[3][1])
  print("Top5 Employee",d3[4][1])

  f1= open("emp1.csv","r")
  f2= open("sal1.csv","r")
  f3= open("emp_sal.csv","w")

  d1=list(csv.reader(f1,delimiter=','))
  d2=list(csv.reader(f2,delimiter=','))

  print("\n\nFile1 Contents:",d1)
  print("\n\nFile2 Contents:",d2)
  d3=[]
  for i in range(len(d1)):
    d3.append(d1[i]+d2[i])

  print(d3)
  cw = csv.writer(f3)
  cw.writerows(d3)

  top_5_emp(d3)


  f1.close()
  f2.close() 
  f3.close()

In [ ]:
import csv
def top_5_emp(d3):
  d3.sort(key = lambda x: int(x[4]),reverse=True)
  print("Sorted Data:" ,d3)

  print("\n\nTop1 Employee",d3[0][1])
  print("Top2 Employee",d3[1][1])
  print("Top3 Employee",d3[2][1])
  print("Top4 Employee",d3[3][1])
  print("Top5 Employee",d3[4][1])

f1= open("emp1.csv","r")
f2= open("sal1.csv","r")
f3= open("emp_sal.csv","w")

d1=list(csv.reader(f1,delimiter=','))
d2=list(csv.reader(f2,delimiter=','))

print("\n\nFile1 Contents:",d1)
print("\n\nFile2 Contents:",d2)
d3=[]
for i in range(len(d1)):
  d3.append(d1[i]+d2[i])

print(d3)
cw = csv.writer(f3)
cw.writerows(d3)

top_5_emp(d3)


f1.close()
f2.close() 
f3.close()

File1 Contents: [['1', 'Sanvi', 'Manager', '100000'], ['2', 'Mrunmayee', 'Sr. Manager', '95000'], ['3', 'Jayesh', 'Manager', '80000'], ['4', 'Gouri', 'Sr. Manager', '95000'], ['5', 'Mahesh', 'Supervisor', '500000']]


File2 Contents: [['1', 'Manager', '100000'], ['2', 'Sr. Manager', '150000'], ['3', 'Manager', '90500'], ['4', 'Sr. Manager', '100500'], ['5', 'Supervisor', '85000']]
[['1', 'Sanvi', 'Manager', '100000', '1', 'Manager', '100000'], ['2', 'Mrunmayee', 'Sr. Manager', '95000', '2', 'Sr. Manager', '150000'], ['3', 'Jayesh', 'Manager', '80000', '3', 'Manager', '90500'], ['4', 'Gouri', 'Sr. Manager', '95000', '4', 'Sr. Manager', '100500'], ['5', 'Mahesh', 'Supervisor', '500000', '5', 'Supervisor', '85000']]
Sorted Data: [['5', 'Mahesh', 'Supervisor', '500000', '5', 'Supervisor', '85000'], ['4', 'Gouri', 'Sr. Manager', '95000', '4', 'Sr. Manager', '100500'], ['3', 'Jayesh', 'Manager', '80000', '3', 'Manager', '90500'], ['2', 'Mrunmayee', 'Sr. Manager', '95000', '2', 'Sr. Manager', '150000'], ['1', 'Sanvi', 'Manager', '100000', '1', 'Manager', '100000']]


Top1 Employee Mahesh
Top2 Employee Gouri
Top3 Employee Jayesh
Top4 Employee Mrunmayee
Top5 Employee Sanvi

In [ ]:
#Birth date calculation assignmaent 3
import csv
from datetime import datetime
def calculateAge(birthdate):
  today = datetime.today()
  age = today.year - birthdate.year -((today.month, today.day) < (birthdate.month, birthdate.day) )
  return age

f1=open("/emp12.csv","r")

data=list(csv.reader(f1))
bdate=[]
age=[]
dollars=[]

for i in range(len(data)):
  print(data[i][1])
  bdate.append(datetime.strptime(data[i][1], '%d-%m-%Y').date())
  #print(bdate)

for i in range(len(data)):
  age.append(calculateAge(bdate[i]))
  dollars.append(float(data[i][2])*82)
print((dollars))   
print("Age",age)

f1.close

22-01-2003
03-03-2007
15-11-1999
23-02-1986
15-11-2011
[8200000.0, 16400000.0, 24600000.0, 32800000.0, 41000000.0]
Age [20, 16, 23, 37, 11]